:root {
    --clr-white: #fff;
    --clr-black: #000;
    --font-family: "Poppins", sans-serif;
    --font-weight: 400;
    --fw-bold: 700;
    --fw-medium: 500;
    --font-size: 16px;
    --transition-time: 0.3s;
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--fw-bold);
    scroll-behavior: smooth;
    background-color: #000;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.time {
    font-size: clamp(3rem, 5rem, 7rem);
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
    -webkit-animation: animate 1.5s linear infinite;
}


@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}

@media screen and (max-width:35em) {
    .time{
        font-size: 2rem;
    }
}

@media screen and (min-width:35em) and (max-width:74.999em) {
    .time{
        font-size: 3rem;
    }
}